<div id="rahafcredentialdetails" class="tab" style="display:none;">
  <div class="w3-padding rahafcredentials">
    <%for(var i=0; i < credentials.length; i++) {%>
      <div id="<%=credentials[i].referent%>" class="credentialsClass rahafcredentials_row rahafcredentials_row<%=i+1%>" >
        <div class="w3-border w3-container" style="margin:50px 50px;">
            <div class="w3-cell-middle" style="display: block;margin: auto;">
                <img width="320" height="320" src="<%=srcId%>" />
                <!-- <svg width="320" height="320" data-jdenticon-value="<%=credentials[i].cred_def_id%>"></svg> -->
            </div>
            <div class="w3-cell" style="display: block;margin: auto;">
                <h4><%=credentials[i].schema_id.split(':')[2]%> <%=credentials[i].schema_id.split(':')[3]%></h4>
                <%for(let attr of Object.keys(credentials[i].attrs).sort()) {%>
                <p style="text-align: left"><%=attr%>: <%=credentials[i].attrs[attr]%></p>
                <%}%>
            </div>
        </div>
      </div>
      <br>
      <%}%>
  </div>
</div>
